@font-face {
  font-family: "Montserrat";
  src: url(../styles/fonts/Montserrat-VariableFont_wght.ttf)
  format("truetype");
}

.display_form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
  //background: $background_low_contrast;
  border-radius: 20px;
  box-shadow: 5px 6px 5px;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 715px) {
      flex-direction: column;
  }
}

input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px;
  margin-left: auto;
  font-size: 16px;
  background-color: #00b894;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 715px) {
    align-items: center;
    margin: 10px;
}
}

button[type="submit"] {
  margin-left: 20px;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

#display_task {
  font-family: "Montserrat";
  width: 25%;
}